extends layout
block append head
  link(rel='stylesheet', href='stylesheets/world.css')
  link(rel='stylesheet', href='stylesheets/toolbox.css')
  link(rel='stylesheet', href='stylesheets/memo.css')
  link(rel='stylesheet', href='stylesheets/blackboard.css')
  script(src='javascripts/world.js')
  script(src='javascripts/toolbox.js')

block content
  #worldcontainer.container-fluid(style='position:absolute')
    #navigation 
      | 欢迎来到我的幻境 -
      a(href=container.about, target='_self') 为什么是零
    include components/toolbox.pug
    each val in [1, 2]
      p #{val}
      p #{memos[val]}

    each val,index in container
      p #{index} + ': " + #{val}

    each val, index in {a1:'one',a2:'two',a3:'three'}
      p #{index} + ': ' + #{val}

    each blackboardelement, index in blackboard
      include components/blackboard.pug

    each memoelement, index in memo
      include components/memo.pug

 
